@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
:root {
    --background: #f9f9f9; /* Fond clair */
    --text: #333333; /* Texte sombre */
    --primary: #007bff; /* Bleu vif pour les boutons */
    --accent: #ff9800; /* Orange pour attirer l'attention */
    --border: #dddddd; /* Bordures subtiles */
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(10px);

  }
.content{
  box-shadow: 0 0 5px #0000001a;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* margin: 0 auto; */
  
}
#logo{
  width: 100%;
  background-color: #dddddd ;
  text-align: center;
  box-shadow: 0 10px 15px -3px #0000001a;
}

img{
    margin-inline: 1rem;
  width: 5rem;
  /* filter: brightness(0) invert(1); */
  height: 5rem;

}
