/* TITRE : Montserrat
PARAGRAPHE : Roboto
SOUS-TITRE : Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
  font-family: "Roboto";
}
body{
  height: 100vh;
}
h1{
  font-family: "Montserrat";
}
:root {
  --background: #f9f9f9; /* Fond clair */
  --text: #333333; /* Texte sombre */
  --primary: #007bff; /* Bleu vif pour les boutons */
  --accent: #ff9800; /* Orange pour attirer l'attention */
  --border: #dddddd; /* Bordures subtiles */
}