/* TITRE : Montserrat
PARAGRAPHE : Roboto
SOUS-TITRE : Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background: #dddddd;
}
.contents {
  width: 70%;
  margin: 0 auto;
  background: #f9f9f9;
  box-shadow: 0 0 10px #dddddd;
  height: 100vh;
}
h1 {
  font-family: "Montserrat";
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #ff9800;
  font-size: 2.5rem;
  padding-block: 0.5rem;
}
#motivationSentence{
  text-align: center;
  padding-block: 0.5rem;
  font-family: "Montserrat";
}
.navBar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: #007bff;
  box-shadow: 0 0 10px #dddddd83;
}
.navbar_options {
  margin-inline: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5rem;
  height: 5rem;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
i {
  font-size: 1.5rem;
}
.options p {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Montserrat";
}
#logo {
  margin-inline: 1rem;
  width: 5rem;
  filter: brightness(0) invert(1);
  height: 5rem;
}
.navbar_options a {
  text-decoration: none;
  color: #f9f9f9;
}
.content_mode{
  display: flex;
  gap: 3rem;
  margin-block: 1rem;
  justify-content: space-around;
}
:root {
  --background: #f9f9f9; /* Fond clair */
  --text: #333333; /* Texte sombre */
  --primary: #007bff; /* Bleu vif pour les boutons */
  --accent: #ff9800; /* Orange pour attirer l'attention */
  --border: #dddddd; /* Bordures subtiles */
}
input{
  width: 70%;
  margin: 0 auto;
}
