@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background-image: url(../images/bgBody.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
}
.contents {
  width: 70%;
  margin: 0 auto;
  background: #f9f9f9;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
h1 {
  font-family: "Montserrat";
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #ff9800;
  font-size: 2.5rem;
  padding-block: 0.5rem;
}
#motivationSentence {
  text-align: center;
  padding-block: 0.5rem 1rem;
  font-family: "Montserrat";
}
.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  background: #007bff;
  padding-inline: 1rem;
  box-shadow: 0 10px 15px -3px #0000001a;
}
.navbar_options {
  margin-inline: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5rem;
  height: 5rem;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
i {
  font-size: 1.5rem;
}
.options p {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Montserrat";
}
#logo {
  margin-inline: 1rem;
  width: 5rem;
  filter: brightness(0) invert(1);
  height: 5rem;
}
.navbar_options a {
  text-decoration: none;
  color: #f9f9f9;
}
.content_mode {
  display: flex;
  justify-content: space-around;
  margin-block: 1.5rem 0.5rem;
}
#word-display {
  font-size: 1.5rem;
  margin: 1rem 2rem;
}
.input {
  width: 100%;
  display: flex;
  justify-content: center;
}
input {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;
  outline: none;
  font-family: "roboto";
  font-size: 1rem;
  background-color: #dddddd;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 10px;
  box-shadow: 0 10px 15px -3px #0000001a;
}
#results {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
}
#setting_content {
  position: absolute;
  top: 0;
  background: #eeeeee;
  z-index: 1;
  width: 40%;
  right: 0;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 5px #0000003a;
  transition: 0.5s;
}
.setting_content_none {
  translate: 100%;
  transition: 0.5s;
}
.setting_back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  color: #f9f9f9;
  margin-block: 1rem;
  border-radius: 50%;
  background: red;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  box-shadow: 0 0 5px #0000001a;
}
.setting_back i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting_back:hover {
  border: 1px solid red;
  background: #f9f9f9;
  color: red;
}
hr {
  width: 90%;
  margin: 0 auto;
  color: #0000003a;
}
.setting_content_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem;
}
.setting_options {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  gap: 0.5rem;
}
.setting_options i {
  font-size: 1.7rem;
}
.filter_blur {
  filter: blur(1px);
}
#word-display{
  height: 9rem;
  overflow: hidden;
}
select{
  border: none;
  background: #3C4F59ff;
  color: #f9f9f9;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
label{
  text-decoration: underline;
  color: #000000aa;
}
.results{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  margin-block: 1.5rem;
}
.result__wpm_accuracy{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.results_value{
  font-size: 1.5rem;
}
.wpm, .accuracy{
  color: #000000aa;
}
.restartAndNext {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.restart,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  box-shadow: 0 0 91px #0000001a;
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  gap: 0.5rem;
}
.restart:hover,
.next:hover {
  background: none;
  border: 1px solid #007bff;
}
.restart i,
.next i {
  font-size: 2rem;
}
.animation_finished{
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  display: none;
  transition: 0.5s;
}
.animation_finished_added{
  display: block;
  transition: 0.5s;
}
main{
  position: relative;
}
.resultANDanimation_finished_added{
  background: green;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  top: 35%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eeeeeeee;
  height: 10rem;
  border-radius: 20px;
  box-shadow: 0 0 5px #0000003a;
}